NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
OWNER_EMAIL=logeshms.cbe@gmail.com

AGENT_BASE_URL=http://127.0.0.1:8787
AGENT_HOST=127.0.0.1
AGENT_PORT=8787
AGENT_TOKEN=
AGENT_SECRET=
MC_PANEL_DATA_DIR=.data
JAVA_BINARY=java
MAX_PANEL_UPLOAD_MB=100

GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_BACKUP_INTERVAL_HOURS=10
